body {
    background-color: bisque;
}

footer{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100;
    height: 2rem;
}

footer p{
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.rem;
}

body{
    background-color: bisque;
    font-family: Bai Jamjuree;
}

#container {
    display: felx;
}

.cartão  {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartao_conteudo {
    text-align: center;
    background-color: aquamarine;
    height: 100px;
}

.cartao_conteudo h3 {
    background-color: tomato;
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin:0.6rem;
    font-size: 1vw;
    backface-visibility: hidden;
}

body{
    background: url('img/bg-desktop.webp');
    font-family: Bai Jamjuree;
}

:root {
    --text-color: #DBE4EF;
    --card-front-color: #144480;
    --card-back-color: #00F4BF;
}

.cartao_conteudo_pergunta p {
    color: var(--text-color);
    font-weight: 500;
}

.cartao_conteudo_pergunta p{
    color: var(--card-back-color)
    font weight: 700px;
}

.cartao:hover  .cartao_conteudo {
    tranform:rotateY(180deg);
}

.cartao_conteudo{
    background-color: var(--card-front-color);
    text-align: center;
    /*backgroud-color:aquamarine;*/
    height:100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}

.cartao__conteudo__resposta {
   transform: rotateY(180deg);
}

.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
}

.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

.cartao__conteudo p {
    margin-top: 1rem;
    padding: 2rem;
    margin-top: 4rem;
}

:hover {
  background-color: pink;
}

div {
  transform: rotate(45deg);
}

button {
  transition: background-color 0.3s ease;
}

.cartao.active .cartao__conteudo {
    transform: rotateY(180deg);
}

.cartao__conteudo__resposta{
    transform: rotateY(180deg);
    background-color: var(--card-back-color);
}

:root {
    --text-color: #DBE4EF;
    --card-front-color: #144480;
    --card-back-color: #00F4BF;
    }

.cartao__conteudo__resposta{
    transform: rotateY(180deg);
    background-color: rdba(0, 244, 191, 1);
}

.cartao__conteudo__resposta{
    transform: rotateY(180deg);
    background-color: rdba(0, 244, 191, 0.2);
}

.cartao__conteudo__resposta{
    transform: rotateY(180deg);
    background-color: rdba(0, 244, 191, 0.2);
    border: 4px solid var(--card-back-color);;
}
/* código omitido */

.cartao__conteudo__resposta{
    transform: rotateY(180deg);
    background-color: rdba(0, 244, 191, 1);
}

.cartao__conteudo__resposta{
    transform: rotateY(180deg);
    background-color: rdba(0, 244, 191, 0.2);
    border: 4px solid var(--card-back-color);;
}

.cartao_conteudo_resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.cartao__conteudo p {
    margin-top: 1rem;
    padding: 2rem;
    margin-top: 4rem;
    font-size: 1.4vw;
}

@media (max-width: 560 px) {

    body {
        background: url('img/bd-mobile.webp');
    }
    
    .cartao {
        flex: 1 0 calc(100% - 1rem);
    }
    
    .cartao__conteudo h3 {
        font-size: 3vw;
    }
    
    .cartao__conteudo p {
        font-size: 3.8vw;
    }
}

